$blue-color: #005FCC;
$title-color: #000;
$text-color: #272624;
$green-color: #218838;
$white-color: #fff;
$bg-color: #D9E0EC33;
$yellow-color: #FFB300;
$opports-red: #FE2929;
$opports-blue: #0053E2;
$opports-green: #0C8749;
$opports-grey: #53585C;
$opports-yellow: #FEBD1F;
$opports-dark-blue: #0F2137;