@use "../../styles/utils" as *;

.footer {
  margin-top: 100px;
  margin-bottom: 86px;

  @include container;
  
  @include on-tablet {
    margin-top: 130px;
    margin-bottom: 106px;
  }

  @include on-desktop {
    margin-top: 160px;
  }
  
  &__box {
    background-color: $blue-color;
    border-radius: 25px;
    padding: 22px 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    
    @include on-tablet {
      padding: 32px 68px;
    }

    @include on-desktop {
      flex-direction: row;
    }
  }

  &__title {
    color: $white-color;
    font-size: 20px;
    line-height: 1.6;
    
    @include on-tablet {
      font-size: 24px;
    }
  }

  &__text {
    color: $white-color;
    margin-top: 12px;
    line-height: 1.4;
    font-size: 14px;
    
    @include on-tablet {
      font-size: 18px;
    }
  }
}