@use "../../styles/utils" as *;

.opports {
  background-color: $bg-color;
  padding: 48px 0 70px;

  @include on-tablet {
    padding: 68px 0 110px;
  }

  &__box {
    @include container;
  }

  &__title {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;

    @include on-tablet {
      font-size: 32px;
    }
  }

  &__cards {
    margin-top: 44px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px 50px;
    justify-content: center;

    @include on-tablet {
      margin-top: 64px;
    }

    @include on-desktop {
      justify-content: space-between;
    }
  }

  &__card {
    padding: 15px 10px;
    border-radius: 24px;
    background-color: $white-color;
    display: flex;
    align-items: center;
    gap: 22px;
    width: 300px;
    box-shadow: 0px 54.48px 64.09px 0px #cdcdcd29;

    @include on-tablet {
      padding: 25px 20px;
    }

    @include on-desktop {
      width: 328px;
    }

    @include hover(transform translateY(-8%));
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: $opports-dark-blue;

    @include on-tablet {
      font-size: 18px;
    }
  }
}
